@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.mobileResponsive {
  @apply flex flex-row flex-nowrap justify-center items-center content-center overflow-x-hidden;
}

.responsive-title {
  @apply text-base sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl;
}

.responsive-text {
  @apply text-sm sm:text-base md:text-lg lg:text-xl xl:text-2xl;
}

.img-responsive {
  @apply w-32 sm:w-40 md:w-48 lg:w-56 xl:w-64 h-auto
}

.lexend-FontAppend400 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  transition: all ease-in-out 100ms;
}

.lexend-FontAppend200 {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  transition: all ease-in 200ms;
}

.glassMorph {
  animation-delay: 3s;
  background: rgba(0, 0, 0, 0.26);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(50px) saturate(1.2);
  border-radius: 0px 0px 20px 20px;
  border: 1px solid rgba(255, 255, 255, 0.295);
  box-shadow: 
    rgba(0, 0, 0, 0.2) 0px 8px 32px, rgba(0, 0, 0, 0.05) 0px 2px 8px,
    rgba(255, 0, 0, 0) 0px 1px 0px inset,
    rgba(255, 255, 255, 0.035) 0px -1px 0px inset;
  overflow: hidden;
}

.glassMorph::before {
  overflow: hidden;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.8),
    transparent
  );
}

.glassMorph::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.8),
    transparent,
    rgba(255, 255, 255, 0.3)
  );
}


@keyframes EnterScreen {
    0% {
        position: relative;
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        position: relative;
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-enter {
  animation:EnterScreen 0.6s ease forwards;
}

/* animation shine header */

.shineclass{
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  height: 2000%;
  width:  4px;
  transform: rotate(45deg);
  filter: blur(15px);
  transition: all 0.5s ease-in-out;
  animation: shineAnimation 5s ease-out infinite;
  z-index: 1;
}

@keyframes shineAnimation {
0% {
    background-color: rgba(255, 255, 255, 0.548);
    transform: translate(-20vw, -20vh) rotate(45deg);
  }
  
  25%{
    background-color: rgb(255, 255, 255);
  }

  50% {
    background-color: rgba(255, 255, 255, 0.274);
    width:6px;
  }

  80%{
    transform: translate(100vw , 33vh) rotate(60deg);
  }

  130% {
    background-color: rgba(255, 255, 255, 0.322);
    transform: translate(100vw , 33vh) rotate(60deg);
  }
  
}


